body {
  background: #666;
  color: white;
  font-size: 24px;
  overflow: hidden;
  position: fixed;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

tr {
  display: block;
}

td {
  min-width: 85px;
}

label {
    display: block;
}

#directionDisplay {
  position: relative;
  transform-origin: center;
  text-align: center;
  margin: auto;
  z-index: -10;
}
#locationPointer{
 transform-origin: center;
 position: absolute;
 top: 0px;
 left: 0px;
}

#pointerCrow {

}

#locationDistance {
  position: absolute;
  bottom: 20%;
  margin-left: 40%;
  border: 4px solid #FF8F04;
  border-radius: 50px;
  height: 70px;
  width: 100px;
  padding-top: 30px;
}


.directionImage {
    width: 100%;
}

#showStatsLink {
  padding-left: 3px;
  padding-right: 3px;
}

.dataLink {
   position: absolute;
    z-index: 5;
    bottom: 0px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    left: 10px;
    color: white;
    text-decoration: none;
}

#hideStatsLink {
  right: 10px;
}

#inputControls {
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  z-index: 50;
}

/* style the input elements cohesively? */
#inputControls select, #inputControls button {
  width: 85%;
  margin-bottom: 1em;
  padding: 3px;
}

.modal {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
}

.modalTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.modalContent {
  width: calc(100% -(50px));
  margin-top:35%;
  background-color: #666;
  padding: 15px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.confirmationMessage {
  margin-bottom: 1em;
}

#newLocationFormActions {
    margin-top: 10px;
}

/* UI elements */
input, select, button {
  font-size: 24px;
}
input {
  max-width: 80%;
}

input[type='number'] {
  width: 250px
}